/*Clase background body*/
body {
  background: rgba(66, 133, 244, 0.9);
}

/* Clase para darle estilos al header */
.encabezado {
  background: #FFFFFF;
}

/*Clase para dar estilo al logo*/
.logo {
  width: 100px;
  margin-left: 20px;
}

/*Clase para dar estilo a la seccion de redes sociales*/
.redes-sociales {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 85px;
}

/*Opacidad de los iconos de redes sociales*/
img[class*="rs"]:hover {
  opacity: 0.7;
}

/*Estilo del navbar*/
.navbar-inverse {
  background: #EA4335;
  border: none;
}

/*Estilo para la clase nav justified */
.nav-justified {
  padding: 5px;
}

/*Estilo para el color de los link de la navegacion en el menu principal */
.nav a{
  color: #ffffff;
}

/* Estilo para el color de fondo del contenido principal*/
.contenido-principal {
  background: #FFFFFF;
}

/* Estilo para ubicar los elementos de la columna principal*/
.column-left {
  margin-left: 15px;
}

/* Estilo para ubicar los elementos de la columna derecha*/
.column-rigth {
  margin: 20px;
}

/* Estilo para el icono del comentario del ususario*/
.icon-user {
  font-size: 3em;
  color: #EA4335;
  float: left;
}

/* Estilo para el textarea*/
.textarea-element {
  width: 650px;
  height: 28px;
  margin-top: 5px;
  margin-left: 15px;
  float: left;
}

/* Estilo para el elemento el input group*/
.input-group-addon {
  color: #EA4335;
  background-color: #ffffff;
}

@media (max-width: 750px) {

/* Estilo para el textarea*/
.textarea-element {
  width: 350px;
  height: 78px;
  }

/* Estilo para ocultar los elementos de la columna derecha*/
  .column-rigth {
    display: none;
  }

}
